.searchBar-Bg {
    background-image: url(https://user-images.githubusercontent.com/112873819/230689878-cd42634a-2c41-4aaa-ac02-21caabd041ab.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.campIcons {
    width: 100px;
    height: auto;
}

.searchBar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.searchInput {
    height: 45px;
    width: 200px;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    border: grey solid 1px;
}

.searchBtn {
    background-color: red;
    color: green;
    border-radius: 5px;
    width: 120px;
    height: 45px;
    text-align: center;
    margin-left: 10px;

}