.login-page {
    max-width: 900px;
    padding-top: 100px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

label {
    padding-left: 10px;
}

.logo {

    padding-left: 30px;
    margin-bottom: 50px;
    margin-top: 30px;
}

span {
    color: #0d0e0d;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}




.input-field .inputs {
    height: 45px;
    width: 400px;
    border: 1px grey solid;
    border-radius: 30px;
    color: rgb(35, 18, 69);
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(243, 232, 232, 0.6);
    outline: none;
    margin-bottom: 10px;
    margin-left: 10px;

}

.inputs::placeholder {
    color: rgb(28, 12, 74);
    opacity: 0.4;
}


.submit:hover {
    box-shadow: 1px 5px 7px 1px rgba(145, 119, 119, 0.2);
}