.searchResult {
    margin-left: 200px;
    align-items: center;
    text-align: center;
    border: grey solid;
    height: 500px;
    max-width: 400px;
    border-radius: 10px;
}

.searchInput {
    min-width: 400px;
}

.detailsBtn {
    background-color: red;

}

body {
    min-height: 100vh;
}