.searchResult {
    margin-left: 200px;
    align-items: center;
    text-align: center;
    border: grey solid;
    height: 500px;
    max-width: 400px;
    border-radius: 10px;
}

.searchInput {
    min-width: 400px;
}

.detailsBtn {
    background-color: red;

}

body {
    margin: 0;
    padding: 0;
}

.bgImg-header {
    background-color: #313534;
    height: 20vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://user-images.githubusercontent.com/112873819/232943668-b366cbf2-7916-448e-a894-b398ef588bdb.jpg");
}